<header>
    <div class="container-fluid header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            <li><a href="/new-restaurant">New Restaurant</a></li>
        </ul>
    </div>
</header>
