<header>
    <div class="container-fluid navbar fixed-top navbar-light bg-secondary">

            <div class="navbar-btn"><a href="/">Home</a></div>
        <div class="navbar-btn float-left"><a href="/new-restaurant">New Restaurant</a></div>
        <div class="navbar-btn"><a href="/sign-up">Sign Up</a></div>
        <div class="navbar-btn"><a href="/sign-in">Sign In</a></div>
    </div>
</header>
