<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title> Best Restaurant</title>

</head>

<body>
<div class="container-fluid bg">

    <% include header.ejs %>

    <h1>Welcome to Best Restaurant</h1>
<div class="jumbotron">
    <form class="form-group" id="search" action="/search" method="get">
        <input class="form-control-lg" type="text" placeholder="Enter postcode" name="postcode" id="postcode" required>
        <input class="form-control-lg" type="text" placeholder="Enter keyword" name="keywords" id="keywords">
        <input class="form-control-lg" type="text" placeholder="Enter cuisine" name="cuisine" id="cuisine">
        <p>Search Radius (Miles):</p><input type="range" class="custom-range" min="1" max="20" step="1" name="radius" id="radius" onchange="rangevalue.value=value"> <output id="rangevalue"></output>

        <input type="submit" class="float-right btn btn-primary" name="submit" value="Search" id="submit">
    </form>
</div>
</div>

</div>

</body>
</html>
