<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Sign Up</title>

</head>

<body>
<div>

    <% include header.ejs %>
    <form class="" id="signupForm" action="/sign-up" method="post">
        Name: <input type="text" id="nameInput" placeholder="Enter Name" name="name" id="name">
        <br>
        Username: <input type="text" id="usernameInput" placeholder="Enter Username" name="username" id="username">
        <br>
        Password:<input type="password" id="passwordInput" placeholder="Enter Password" name="password" id="password">
        <br>
        <input type="submit" class="" name="submit" value="Sign Up" id="submit">
    </form>

</div>

</div>

</body>
</html>
